<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li>
      <a routerLink="/movie">Movies</a>
    </li>
    <li class="active">Add Actor To Movie</li>
  </ol>

  <a class="btn btn-primary" routerLink="/movie">Return to Movies</a>

  <h1>Add Actor To A Movie</h1>

  <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

  <form (ngSubmit)="saveActorToMovie(movieActorForm)" #movieActorForm="ngForm" class="form-horizontal">
    <div class="form-group">
      <label for="id" class="col-sm-2 control-label">Actor ID</label>
      <div class="col-sm-10">
        <input ngModel #id="ngModel" type="text" class="form-control" id="id" name="id" placeholder="1">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button [disabled]="!movieActorForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</section>